/.gradle/
/build/
/.kotlin/
/assets/
/run/
/output/
/logs/
/scripts/

java_pid*.hprof

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr
/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.venv/
/reports
/DO_NOT_READ
